<hr>

<div class="credits">

  <div class="entry">Reporter:  <br>John Flinn • <a href="mailto:travel@sfchronicle.com">travel@sfchronicle.com</a> • <a href = "https://twitter.com/SFChronTravel" target="_blank">@SFChronTravel</a></div>

  <div class="entry">Travel editor:  <br>Spud Hilton • <a href="mailto:shilton@sfchronicle.com">shilton@sfchronicle.com</a> • <a href = "https://twitter.com/SpudHilton" target="_blank">@SpudHilton</a></div>

  <div class="entry">Interactive producer:  <br>Emma O'Neill • <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> • <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

</div>

<hr>

<div class="dont-miss">
  <div class="story">
    <div class="padded">
    <a href="http://www.sfchronicle.com/brewerymap/" target="_blank">
      <img src="http://ww1.hdnux.com/photos/50/46/16/10642312/4/1200x760.jpg"></img>
    </a>
      <div class="small">NorCal Brewery Map</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/top-100-restaurants/" target="_blank">
      <img src="http://ww2.hdnux.com/photos/45/61/62/9903285/4/1200x760.jpg"></img>
    </a>
      <div class="small">Top 100 Restaurants 2016</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="
http://www.sfchronicle.com/lgbt-travel/" target="_blank">
      <img src="
http://ww4.hdnux.com/photos/53/57/25/11466083/4/1200x760.jpg"></img>
    </a>
      <div class="small">LGBT Travel</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://www.sfchronicle.com/bayarea/place/article/San-Francisco-has-wealth-of-rooftop-public-9321535.php" target="_blank">
      <img src="http://ww1.hdnux.com/photos/53/01/62/11279512/4/1200x760.jpg"></img>
    </a>
      <div class="small">Finding SF's public rooftops</div>
    </div>
  </div>
</div>


<footer class="nav-bottom">
  <a class="logo" href="http://www.sfchronicle.com">
    <img src="./assets/logos/sf_logo_white.png"></img>
  </a>
</footer>
